@@HEADER@@

# SimplePie NG

**Don't use this yet.**

**SimplePie NG** is a modern, _next-generation_ PHP package for working with syndication feeds. It has been written from the ground-up to take advantage of the modern features of PHP 7.2+.

It starts with a completely different kind of thinking, and more than 15 years of experience in software engineering and open-source. It is written with a view of PHP from today and beyond, and is being built in such a way that greater community involvement should be far easier from much earlier in the project's life.

See the [Documentation](https://github.com/simplepie/simplepie-ng/wiki) or the [API Reference](https://simplepie.github.io/simplepie-ng/).

## Badges

@@BADGES;repo=simplepie-ng;insight=1b772338-fd6a-4af1-8f5e-fddffc2b9d43;codacy=2933d00bd11143baaa6538a9c5fbd9a9@@

## Coding Standards

@@CODING_STANDARDS@@

## Please Support or Sponsor Development

@@SPONSOR@@
